h1 {
	text-transform: uppercase;
	font: 'helvetica neue', helvetica, sans-serif;

}

p {
	font: 'arial', sans-serif;
	width: 50%;
}

.submitGuess {
	background: rgba(0,0,200,0.6);
	color: white;
	text-transform: uppercase;
}

.form{
	border: 2px solid;
	/*width: 22%;*/
}

