html {
        font-family: sans-serif;

      }
body {
        width: 50%;
        max-width: 800px;
        min-width: 480px;
        margin: 0 auto;
        font-style: italic;
        font-family: Arial;
        background-color: #FFD4C9;
      }
      .lastResult {
        color: white;
        padding: 3px;
      }